.header{
	height: 1.2rem;
	background-color: rgba(167,213,234,0.2);
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.saoma{
	height: 0.64rem;
	width: 0.64rem;
	background: url(../img/saoma.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	margin: 0.266667rem 0 0 0.4rem;
}
.search-box{
	width: 56%;
	height: 0.8rem;
	border-radius: 0.266667rem;
	text-align: center;
	background: rgba(0,0,0,0.2) url(../img/search.png) 0.2rem center no-repeat;
	color: white;
	line-height: 0.8rem;
	position: absolute;
	left: 50%;
	margin-left: -28%;
	margin-top: 0.186667rem;
}
.msg{
	width: 0.613333rem;
	height: 0.613333rem;
	background:url(../img/msg.png) center center no-repeat;
	margin: 0.293333rem 0.4rem 0 0.293333rem;
	-webkit-background-size: contain;
	background-size: contain;
}
.cart{
	width: 0.613333rem;
	height: 0.613333rem;
	background:url(../img/cart.png) center center no-repeat;
	margin-top: 0.293333rem;
	position: relative;
	-webkit-background-size: contain;
	background-size: contain;
}
.cart span{
	position: absolute;
	width: 0.32rem;
	height: 0.32rem;
	top: -0.16rem;
	right: -0.16rem;
	background-color: #fd3422;
	border-radius: 50%;
	color: white;
	text-align: center;
	line-height: 0.32rem;
	font-size: 12px;
}
[data-dpr="2"] .cart span{
	font-size: 20px;
}
[data-dpr="3"] .cart span{
	font-size: 30px;
}
.banner{
	height: 6.106667rem;
}
.banner>a{
	font-size: 0;
	display: block;
}
.banner img{
	width: 10.0rem;
}
/*导航栏*/
.nav{
	height: 1.333333rem;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #bfbec3;
	background-color: #fff;
	position: fixed;
	left: 0;
	bottom: 0;
}
.nav-item{
	float: left;
	width: 20%;
	height: 100%;
}
.nav-item.active>p{
	color: #ffc600;
}
.nav-item>p{
	text-align: center;
	color: #989898;
	line-height:0.5rem;
}
.home,.cate,.corp,.treasure,.me{
	-webkit-background-size: contain;
	background-size: contain;
}
.home{
	width: 0.666667rem;
	height: 0.666667rem;
	margin: 0.16rem auto 0;
	background: url(../img/icon-house-s.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.cate{
	width: 0.566667rem;
	height: 0.666667rem;
	margin: 0.16rem auto 0;
	background: url(../img/icon-cate.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.corp{
	width: 0.766667rem;
	height: 0.666667rem;
	margin: 0.16rem auto 0;
	background: url(../img/icon-corp.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.treasure{
	width: 0.666667rem;
	height: 0.666667rem;
	margin: 0.16rem auto 0;
	background: url(../img/icon-treasure.png) 0 0 no-repeat;
}
.me{
	width: 0.766667rem;
	height: 0.666667rem;
	margin: 0.16rem auto 0;
	background: url(../img/icon-me.png) 0 0 no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.content-box{
	left: 0;
	right: 0;
	top: 0;
	bottom: 1.333333rem;
	overflow-y:auto;
	background-color: #f0eff5;
}
.p-list-box{
	height: 4.506667rem;
	background-color: #fff;
	margin-bottom: 0.266667rem;
}
.p-list-title{
	background: url(../img/tag.png) 0.4rem 0.373333rem/1.866667rem 0.533333rem no-repeat;
	height: 1.2rem;
}
.more{
	float: right;
	background: url(../img/more.png) 0 0/contain no-repeat;
	width: 1.2rem;
	height: 0.506667rem;
	display: block;
	margin: 0.453333rem 0.4rem 0 0;
}
.p-list{
	width: 10.306667rem;
	overflow-x: auto;
	overflow-y: hidden;
}
.p-list-item{
	width: 2.8rem;
	height: 2.8rem;
	text-align: center;
	float: left;
}
.p-list-item>p{
	margin-top: 1.8rem;
}
.container{
	width: 14.0rem;
	overflow: hidden;
}































